.darktoggle {
    appearance: none;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    background-color: #ffef5d;
    position: fixed;
    top: 0.6em;
    right: 0.6em;
    margin-left: 1em;
    transition: all 0.2s ease-in;
    cursor: pointer;
    box-shadow: 3px 2.5px 10px rgba(0, 0, 0, 0.2);
}
.darktoggle::before {
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    transition: all 0.2s ease-in;
}
.darktoggle:hover::before {
    background: #a6f174;
}
.darktoggle:active::before {
    background: #6d9751;
}
.darktoggle:hover {
    transform: scale(1.1);
    transition: all ease-in-out 0.1s;
}
.darktoggle:active {
    transform: scale(0.9);
    transition: all ease-in-out 0.1s;
}
.darktoggle:checked {
    background: #1f2349;
    box-shadow: 3px 2.5px 10px rgba(255, 255, 255, 0.2);
}
.darktoggle:checked::before {
    left: 32px;
}

body {
    transition: all ease-in 0.15s;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body.dark {
    background-image: linear-gradient(135deg, #232526 0%, #0c0c0c 100%);
    color: whitesmoke;
}

.dark a {
    color: #a6f174;
}
a {
    color: #679648;
}
.dark a:hover {
    color: #82b361;
}
a:hover {
    color: #4a6836;
}

.menu-icon {
    font-size: 2em;
    cursor: pointer;
    user-select: none;
    position: relative;
    transition: all ease-in-out 0.1s;
    left: 0.4em;
}
.menu-icon:hover {
    transform: scale(1.1);
    transition: all ease-in-out 0.1s;
    color: #a6f174;
}
.menu-icon:active {
    transform: scale(0.9);
    transition: all ease-in-out 0.1s;
    color: #6d9751;
}

.sociallink, .pagetablink {
    margin-bottom: 10px;
    padding-bottom: 3px;
}

.sociallink img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 8px;
    margin-left: 8px;
    padding-bottom: 5px;
}

.sociallink a, .pagetablink a {
    text-decoration: none;
    color: inherit;
    font-size: 1.2em;
}

nav h4 {
    font-size: 1.7em;
    margin-bottom: 0;
}

nav .separator {
    border: 0;
    height: 2px;
    background: #333;
    border-radius: 20px;
    margin: 10px 0;
}

.pagetablink, .sociallink {
    border-bottom: 3px solid transparent;
}

.pagetablink.selectedtab a::after {
    transition: all ease-in-out .4s;
    background: none repeat scroll 0 0 #6d9751;
    content: "";
    margin-top: 5px;
    display: block;
    height: 2px;
    width: 100%;
}

.pagetablink a::after, .sociallink > a::after {
    transition: all ease-in-out .4s;
    background: none repeat scroll 0 0 #a6f174;
    content: "";
    margin-top: 5px;
    display: block;
    height: 2px;
    width: 0;
}
.pagetablink:hover a::after, .pagetablink.selectedtab:hover a::after, .sociallink:hover > a::after {
    background: none repeat scroll 0 0 #a6f174;
    width: 100%;
}

.collapsable {
    margin-top: 0.5em;
}
.collapsable label {
    font-size: 1.5em;
    cursor: pointer;
}
.collapsable label::before {
    background-image: url('../Images/Site/chevron-down.png');
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
    margin-right: 11px;
    content: "";
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.collapsable input:checked + label::before {
    transform: scaleY(-1);
}

.dark .collapsable label::before {
    filter: invert(1);
}

.collapsable .collapsable-content {
    margin-top: 10px;
    max-height: 0px;
    transform: scaleY(0);
    overflow: hidden;
    transition: all ease-in-out .2s;
}
.collapsable input:checked ~ .collapsable-content {
    transform: scaleY(1);
    max-height: 5000px;
}

.warning {
    padding: 1em;
    border: 3px solid rgb(204, 204, 52);
    background-color: rgba(221, 221, 74, 0.534);
    max-width: 90%;
    display: block;
    margin: 1em auto;
    text-align: center;
}